html {
  overflow: scroll;
  overflow-x: hidden;
  overflow-wrap: break-word;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent;
}
/*header file css START*/
.header {
  position: absolute;
  padding: 0px;
  width: 100vw;
  top: 0px;
  z-index: 1;
}
.buttonh {
  float: right;
  border-radius: 50px;
  color: white;
  margin: 10px;
  margin-top: 30px;
}
.buttonh-l {
  background: linear-gradient(90deg, #1157a0 0%, rgba(42, 163, 239, 0.91) 100%);
  width: 200px;
}
.buttonh-t {
  background-color: transparent;
  color: #00a9f2;
}
.mc {
  display: none;
}
/*header file css END*/
/*rectangle1 css START*/
.rectangle1 {
  padding: 0px;
  width: 77vw;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-image: url("./components/Rectangle\ 11.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.rectangle1 .data {
  margin-top: 25%;
  margin-bottom: 20%;
  margin-left: 25px;
}
.rectangle1 p {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 21px;
  color: #828282;
  width: 60%;
}
/* check for search and button in footer section */
/* rectangle1 css END*/
/* rectangle2 css START*/
.rectangle2 {
  padding: 0px;
  display: flex;
  flex-direction: column;
  width: 77vw;
  margin-left: 23vw;
  margin-top: -10vh;
  background-image: url("./components/Rectangle\ 22.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.text1 {
  width: 100%;
  margin-top: 6%;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 75px;
  line-height: 74px;
  text-align: left;
}
.text1 .t1 {
  color: #279ceb;
}
.text1 .t2 {
  color: #1157a0;
}
.image2 {
  width: 350px;
  height: 500px;
  margin-left: -180px;
  margin-top: 10%;
}
.rectangle2 .data {
  margin-top: 20%;
  margin-bottom: 10%;
}
.rectangle2 .data p {
  padding-right: 30px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  text-align: right;
  letter-spacing: 0.04em;
  color: #2cafef;
}
.rectangle2 .data .mc {
  color: #37495c;
}
.rectangle2 .data .colortags {
  padding-right: 30px;
  float: right;
}
.rectangle2 .data div span {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  float: right;
  margin: 5px;
  border-radius: 25px;
  padding: 0 30px 0 30px;
}
/* rectangle2 css END*/
/* img1 css START*/
.image1 {
  position: absolute;
  width: 600px;
  height: 540px;
  right: 0px;
  top: 20vh;
  margin-right: 30px;
}
/* img1 css END*/
/* img1 css START*/
.image3 {
  position: absolute;
  width: 350px;
  height: 500px;
  left: 111px;
  top: 110%;
}
/* img1 css END*/
/* footer css START*/
.ft1 {
  width: 100vw;
  text-align: center;
}
.ft1 #lowerfooter {
  margin-top: 15vh;
}
.ftext1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #1157a0;
}
.ftext2 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: #585858;
}

.sform {
  position: relative;
  padding: 5px;
  border: 1px solid #a9def5;
  border-radius: 5px;
  width: fit-content;
  margin: auto;
}
.sform input {
  background-color: transparent;
  border: none;
  width: 300px;
}
.sform span {
  background-color: transparent;
  border: none;
}
.sico {
  background-color: transparent;
  margin-right: 15px;
  border: 0px;
}
#comp {
  margin: 10px;
  border-width: 0 0 2px 0;
}
.buttonf {
  border-radius: 50px;
  background-color: #2aa3ef;
  color: white;
  margin: 10px;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.footico {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}
.footimg1 {
  height: 50px;
  width: 50px;
}
.footimg2 {
  height: 30px;
  width: 150px;
}
.footimg3 {
  height: 20px;
  width: 150px;
}
.colf2 {
  position: relative;
  top: 65%;
  font-family: Circular Std;
  font-style: normal;
  font-weight: bold;
  background: -webkit-linear-gradient(
    90deg,
    #1157a0 0%,
    rgba(42, 163, 239, 0.91) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  text-decoration: none;
}
.colf3 {
  position: relative;
  top: 55%;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #828282;
  text-decoration: none;
}
/* footer css END*/
@media only screen and (max-width: 992px) {
  .cm {
    display: none;
  }
  .mc {
    display: block;
  }
  .rectangle1 {
    width: 100vw;
  }
  .image1 {
    position: relative;
    width: 60vw;
    height: 60vw;
    right: 20vw;
    left: 20vw;
    top: 10vh;
    margin-right: 30px;
  }
  .rectangle1 .data {
    width: 100%;
    margin: 50% 0 0 0;
    align-items: center;
  }
  .rectangle1 .data span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sform input {
    background-color: transparent;
    border: none;
    width: 60vw;
    font-size: 15px;
  }
  #comp {
    margin: initial;
    border-width: initial;
  }
  .rectangle2 {
    width: 100vw;
    margin-left: 0vw;
    margin-top: 0vh;
  }
  .rectangle2 .data {
    margin-top: 5%;
  }
  .text1 {
    margin-top: 6%;
    font-size: 8vw;
    line-height: 74px;
    text-align: center;
  }
  .row #one {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image2 {
    width: 250px;
    height: 400px;
    margin-left: 0px;
    margin-top: 10%;
  }
  .rectangle2 .data p {
    padding-right: 00px;
    font-size: 5vw;
    text-align: center;
    letter-spacing: 0.04em;
  }
  .rectangle2 .data div span {
    float: none;
    font-size: 5vw;
    padding: 0 40px 0 40px;
    margin: 7px;
  }
  .rectangle2 .data .colortags {
    padding-right: 0px;
    float: none;
    text-align: center;
  }
  .ftext1 {
    padding: 5px;
    font-weight: 700;
    font-size: 6vw;
  }
  .ftext2 {
    font-size: 4vw;
  }
  .ft1 #lowerfooter {
    margin-top: 0;
  }
  .footimg1 {
    height: 40px;
    width: 40px;
  }
  .colf2 {
    top: 0;
    font-size: 16px;
  }
  .colf3 {
    top: 0;
    float: none;
  }
  .rectangle2 {
    background-image: url("./components/Rectangle\ 22r.png");
  }
}
